@use "sass:color";
@use "../util" as *;
@use "../global/colors" as *;

.item-path {
  margin-top: rem(80);
  color: rgb(152, 152, 152);
  font-size: rem(14);
  span {
    color: $primary;
  }
}
.detail {
  padding-block: rem(60);
  justify-content: space-between;
  &__img {
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      margin-inline: auto;
      max-width: rem(520);
      max-height: rem(500);
    }
    .mainImgContainer {
      width: rem(400);
      height: rem(400);
      img.mainImg {
        width: fit-content;
      }
    }
  }
  &__imgs--container {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    overflow-x: auto;
    font-size: 0;
    border-collapse: collapse;
    img {
      padding: 1rem;
      cursor: pointer;
      border: 0.1rem solid rgb(222, 222, 222);
      max-width: rem(100);
      max-height: rem(100);
      object-fit: contain;
    }
  }
  &__info {
    h3 {
      font-size: rem(24);
      font-weight: 500;
      margin: 0;
    }

    .detail-info--rating {
      justify-content: space-between;
      i.active {
        color: gold;
      }
      p {
        color: rgb(0, 0, 0, 0.5);
      }
      .detail-info--rating-end {
        gap: 1rem;
        p.stock {
          color: #00ff66;
        }
      }
    }
    .price {
      font-weight: 400;
      font-size: rem(24);
      margin: 0;
    }
    .description {
      max-width: rem(370);
      font-size: rem(14);
      line-height: rem(21);
    }
  }
  @media (max-width: rem(780)) {
    &__img {
      width: 100%;
    }
    flex-direction: column;
    text-align: center;
    .detail-info--rating {
      flex-wrap: wrap;
      margin-block: 1.2rem;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;
    }
  }
}
