@use "sass:color";
@use "../util" as *;
@use "../global/colors" as *;
@use "../global" as *;
.favourites {
  padding-block: 2rem;
  &__header {
    justify-content: space-between;
    h4 {
      font-weight: 400;
      font-size: rem(20);
    }
    button {
      padding: 1rem 2.2rem;
      background-color: white;
      border: 0.1rem solid #00000080;
      font-weight: 500;
      transition: all 200ms linear;
      cursor: pointer;
      &:hover {
        filter: invert(1);
      }
    }
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: rem(30);
    img {
      max-width: rem(190);
      max-height: rem(180);
      width: fit-content;
    }
    @include productStyle();
    @media (max-width: rem(1010)) {
      grid-template-columns: repeat(3, 3fr);
    }
    @media (max-width: rem(760)) {
      grid-template-columns: repeat(2, 2fr);
    }
    @media (max-width: rem(500)) {
      grid-template-columns: 1fr;
    }
  }
}
