@use "sass:color";
@use "../util" as *;
@use "../global/colors" as *;
// @use "../global" as *;
@use "../global";

.products {
  margin-top: rem(63);
  @media (max-width: rem(800)) {
    margin-top: rem(30);
  }
  &__info {
    &--name {
      justify-content: start;
      gap: rem(10);
      span {
        display: inline-block;
        width: rem(20);
        height: rem(40);
        border-radius: rem(2);
        background-color: $orange;
      }
      p {
        color: $orange;
        font-weight: 600;
        button {
          padding: rem(8) rem(16);
          color: red;
          background-color: rgba(255, 0, 0, 0.2);
          border: none;
          border-radius: rem(24);
          cursor: pointer;
        }
      }
    }
  }
  &__controls {
    justify-content: end;
    gap: rem(8);
    button {
      width: rem(44);
      height: rem(46);
      font-size: 1rem;
      border-radius: 50%;
      border: none;
      outline: none;
      transition: all 100ms linear;
      line-height: 0;
      box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
      cursor: pointer;
      &:hover {
        box-shadow: rgba(100, 100, 111, 0) 0px 7px 29px 0px;
        font-size: 1.1rem;
        transform: scale(1);
      }
    }
  }
  &__header {
    width: 100%;
    justify-content: space-between;
  }

  &__container {
    width: 100%;
    margin-top: rem(60);
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: rem(30);
    img {
      max-width: rem(190);
      max-height: rem(180);
      width: fit-content;
    }
    @include global.productStyle();
    @media (max-width: rem(1054)) {
      grid-template-columns: repeat(3, 3fr);
      margin-top: rem(25);
    }
    @media (max-width: rem(784)) {
      grid-template-columns: repeat(2, 2fr);
    }
    @media (max-width: rem(520)) {
      grid-template-columns: 1fr;
    }
  }
  > button {
    margin: 1rem auto;
    padding: rem(16) rem(48);
    font-size: 1rem;
    color: $text-white;
    border: none;
    background-color: $red;
    border-radius: 0.2rem;
    transition: all 200ms ease;
    cursor: pointer;
    &.hidden {
      display: none;
    }
    &.load-less {
      background-color: #2a9d8f;
      // color:;
    }
    &:hover {
      filter: brightness(110%);
    }
  }
}
