@use "sass:color";
@use "../util" as *;
@use "../global/colors" as *;

.products {
  margin-top: rem(63);
  &__info {
    &--name {
      justify-content: start;
      gap: rem(10);
      span {
        display: inline-block;
        width: rem(20);
        height: rem(40);
        border-radius: rem(2);
        background-color: $orange;
      }
      p {
        color: $orange;
        font-weight: 600;
      }
    }
  }
  &__controls {
    justify-content: end;
    gap: rem(8);
    button {
      width: rem(44);
      height: rem(46);
      font-size: 1rem;
      border-radius: 50%;
      border: none;
      outline: none;
      transition: all 100ms linear;
      line-height: 0;
      box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
      cursor: pointer;
      &:hover {
        box-shadow: rgba(100, 100, 111, 0) 0px 7px 29px 0px;
        font-size: 1.1rem;
        transform: scale(1);
      }
    }
  }
  &__header {
    width: 100%;
    justify-content: space-between;
  }

  &__container {
    width: 100%;
    margin-top: rem(60);
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: rem(30);
    img {
      max-width: rem(190);
      max-height: rem(180);
      width: fit-content;
    }
    .product {
      border-radius: rem(5);
      overflow: hidden;
      &__main {
        padding: rem(20) rem(12);
        background-color: $secondary;
        position: relative;
        overflow: hidden;
        border-radius: inherit;
        .controls {
          position: absolute;
          inset: 5% 5% auto auto;
          gap: rem(8);
          img {
            padding: 0.4rem;
            background-color: $white;
            border-radius: 50%;
            overflow: visible;
            transition: all 200ms ease-in-out;
            cursor: pointer;
            &:hover {
              background-color: color.adjust($orange, $alpha: -0.9);
              filter: drop-shadow(0 0 0.4rem white);
              color: $orange;
            }
            &.active {
              filter: invert(1);
              background-color: #00f3e5;
            }
          }
        }
        .delete-product {
          width: rem(20);
          height: rem(20);
          padding: 0.5rem;
          position: absolute;
          inset: 6% 6% auto auto;
          background-color: #fff;
          border-radius: 50%;
          overflow: visible;
          transition: all 200ms linear;
          cursor: pointer;
          &:hover {
            filter: invert(1);
          }
        }
        &:hover button {
          bottom: 0%;
        }
        button {
          position: absolute;
          inset: auto 0 -100% 0;
          padding: rem(12) 0;
          background-color: $primary;
          color: $text-white;
          transition: all 340ms linear;
          border: none;
          cursor: pointer;
          font-size: rem(16);
        }
      }
      &__info {
        &--name {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
          font-weight: 500;
          font-size: rem(16);
          margin: rem(16) 0 0 0;
        }
        &--end {
          justify-content: start;
          gap: rem(8);
          margin: rem(10) 0 0 0;
          padding-bottom: rem(32);
          .price {
            color: $red;
          }
          .rating {
            color: color.adjust(#000, $alpha: -0.8);
            i.active {
              color: gold;
            }
          }
          p {
            margin: 0;
            opacity: 0.7;
          }
        }
      }
    }
    @media (max-width: rem(1054)) {
      grid-template-columns: repeat(3, 3fr);
    }
    @media (max-width: rem(784)) {
      grid-template-columns: repeat(2, 2fr);
    }
    @media (max-width: rem(520)) {
      grid-template-columns: 1fr;
    }
  }
  > button {
    margin: 1rem auto;
    padding: rem(16) rem(48);
    font-size: 1rem;
    color: $text-white;
    border: none;
    background-color: $red;
    border-radius: 0.2rem;
    transition: all 200ms ease;
    cursor: pointer;
    &.hidden {
      display: none;
    }
    &.load-less {
      background-color: #2a9d8f;
      // color:;
    }
    &:hover {
      filter: brightness(110%);
    }
  }
}
