@use "sass:color";
@use "../util" as *;
@use "../global/colors" as *;

.search-wrapper {
  height: 100vh;
  position: fixed;
  inset: -110% 0 auto 0;
  background-color: rgba(0, 0, 0, 0.72);
  z-index: 2;
  transition: all 0.4s ease-in-out;
  padding-top: rem(20);

  &.active {
    top: rem(70);
  }
  img {
    max-width: rem(190);
    max-height: rem(180);
    width: fit-content;
  }
  .search-loaders {
    display: none;
    &.active {
      display: grid;
    }
  }
  .search {
    padding: rem(26);
    border-radius: rem(4);
    max-height: rem(600);
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: rem(30);
    overflow: scroll;
    background-color: $text-white;
    box-shadow: #94d2bd 0px 48px 100px 0px;
    .product {
      border-radius: rem(5);
      overflow: hidden;
      border: 0.1rem solid #00000000;
      transition: all 0.2s linear;
      cursor: pointer;
      padding: 0.1rem;
      &:hover {
        border-color: rgba(0, 0, 0, 0.22);
      }
      &__main {
        padding: rem(20) rem(12);
        background-color: $secondary;
        position: relative;
        overflow: hidden;
        border-radius: inherit;
        .controls {
          position: absolute;
          inset: 5% 5% auto auto;
          gap: rem(8);
          svg {
            padding: 0.4rem;
            background-color: $white;
            border-radius: 50%;
            overflow: visible;
            transition: all 200ms ease-in-out;
            cursor: pointer;
            &:hover {
              background-color: color.adjust($orange, $alpha: -0.9);
              filter: drop-shadow(0 0 0.4rem white);
              color: $orange;
            }
          }
        }
        &:hover button {
          bottom: 0%;
        }
        button {
          position: absolute;
          inset: auto 0 -100% 0;
          padding: rem(12) 0;
          background-color: $primary;
          color: $text-white;
          transition: all 340ms linear;
          border: none;
          cursor: pointer;
          font-size: rem(16);
        }
      }
      &__info {
        &--name {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
          font-weight: 500;
          font-size: rem(16);
          margin: rem(16) 0 0 0;
        }
        &--end {
          justify-content: start;
          gap: rem(8);
          margin: rem(10) 0 0 0;
          padding-bottom: 0.4rem;
          .price {
            color: $red;
          }
          .rating {
            color: color.adjust(#000, $alpha: -0.8);
            i.active {
              color: gold;
            }
          }
          p {
            margin: 0;
            opacity: 0.7;
          }
        }
      }
    }
  }
}
